config.*
.env

data.*
*.db

testing-not-mocha.js
mongodb-test/

node_modules/
package-lock.json

old/

# *.todo # is included because other todos are also included (directly in source code)

# .vscode/